.filmImg {
  display: inline-block;
  width: 100%;
}
.column {
  width: 30%;
  min-width: 200px;
}
.container {
  justify-content: center;
}
.filmImgDetail {
  display: inline-block;
  height: 50%;
}
